<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.WSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp1.WSettings>
            <setting name="pins" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="recently" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="group" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>-1</value>
            </setting>
        </WpfApp1.WSettings>
    </userSettings>
</configuration>